*{
    margin: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#content{
    justify-content: center;
    text-align: center;
    justify-items: center;
    align-items: center;
}

header{
    background-color: green;
    /*display: flexbox;*/
    /*flex-direction: column;*/
    border-radius: 5px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    background-color: transparent;
    color: white;
    height: 3vw;
    border: 0;
    font-size: large;
}

label{
    margin-left: 20px;
    font-size: large;
    color: white;
}

option{
    color: black;
}

select:focus{
    outline: none;
}

select{
    background-color: transparent;
    color: white;
    margin-left: 20px;
    border: none;
}

button:hover{
    height: 100%;
}

body{
    background-color: black;
}

#en1{
    font-size: large;
    font-weight: bold;
    background-color: lightgreen;
}

.center{
    text-align: center;
}

#img1{
    width: 50px;
}

#img2{
    max-height: 200px;
    border-radius: 15px;
}

h1{
    color:white;
    margin-left: 10px;
}

#logo{
    display: flex;
    text-align: center;
    align-items: center;
}

#c1{
    width: 50vw;
    display: flex;
    align-content: center;
    text-align: center;
    align-items: center;
}

#c2{
    width: 50vw;
    display: flex;
    align-content: center;
    justify-content: right;
    margin-right: 20px;
}

#c3, #c31, #c32, #c5{
    background-color:#1B1B1F;
    color:white;
}

#c33, #c34, #c35, #c36{
    background-color: white;
    color: black;
}

#main{
    display: block;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.card{
    border-color: green;
    border-radius: 10px;
    border-width: 5px;
    margin-bottom: 10px;
}

.card-header{
    border-bottom-color: green;
    border-width: 5px;
}

#img2{
    text-align: center;
}

@media screen and (max-width: 768px) {
    [class *= "col-"]{
        width: 100%;
    }   
}

a{
    text-decoration: 0;
    font-weight: bold;
}